<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% for (var i=0, x=students.length; i<x; i++){ %>
<li><%= students[i].firstName =><%= students[i].lastName %></li>
 <% } %>
  </body>
</html>
